* {
  margin: 0;
	padding: 0;
  font-family: 'News Cycle', arial;
  box-sizing: border-box;
}

header {
  position: fixed;
  z-index: 200;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #1cbcb5;
  font-size: 25px;
  font-weight: bolder;
  line-height: 50px;
  padding-left: 20px;
  color: #fff;

  /*gradient background from css-tricks*/
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, center center, 0, center center, 960, from(#9eaf1d), to(#6e933b));
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #9eaf1d, #6e933b);
  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, #9eaf1d, #6e933b);
  /* IE 10 */
  background: -ms-radial-gradient(circle, #9eaf1d, #6e933b);
}

#container {
  position: relative;
  margin-top: 50px;
}

.homeBG {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-image: url('images/indonesia.jpg');
  background-repeat: no-repeat;
}

.homeBG p {
  position: relative;
  top: 130px;
  font-size: 35px;
  text-align: center;
  margin: 30px;
  color: #fff;
  text-shadow: 0px 2px 8px rgba(0,0,0,.5);
}

.featured {
  max-width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
}

h2 {
  font-size: 40px;
  color: #707070;
  font-weight: 100;
}

.homeBG > .form-container {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 70%;
  top: 130px;
  left: 155px;
  z-index: 100;
}

input {
  min-width: 70%;
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;
  background-color: rgba(255,255,255,.7);
  font-size: 30px;
  border-radius: 5px;
}

button {
  min-width: 15%;
  padding: 10px;
  background-color: rgba(255,255,255,.7);
  border: 1px solid #ccc;
  outline: none;
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #bfd328;
  color: #fff;
  border: 1px solid #8c9d1c;
}

#photos-container {
  /*columns from css-tricks*/
  padding-top: 10px;
  -webkit-columns: 3 300px;
  -moz-columns: 3 300px;
  columns: 3 300px;
  -webkit-column-gap: 1px;
  -moz-column-gap: 1px;
  column-gap: 1px;
}

#photos-container > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#photos-container > div > img {
  max-width: 100%;
  height: auto;
  margin: 6px;
  align-self: center;
  cursor: pointer;
}

#photo-popup {
  display: none;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(225,224,223,.95);
  z-index: 200;
}

#photo-popup span { /* close box */
  position: fixed;
  right: 10px;
  top: -8px;
  background-color: #8C9D1C;
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  border-radius: 5px;
  cursor: pointer;
  z-index: 200;
}
#photo-popup span:hover { /* close box hover */
  background-color: #bfd328;
  color: #fff;
}
#photo-popup img {
  width: 70%;
}
#photo-popup > .lg-photo {
  text-align: center;
  padding-top: 20px;
}


header #logo {
  cursor: pointer;
}

.desc-container {
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

#photo-desc {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  width: 50%;
}

#map {
  width: 50%;
  min-height: 100px;
  background-color: rgba(255,255,255,0);
  margin: 20px;
  text-align: center;
}

#map img {
  width: 100%;
}

.waiting {
  display: block;
  min-width: 400px;
  position: relative;
  font-size: 20px;
  font-weight: 900;
  color: #919191;
  padding: 50px;

  /*change color animation*/
  animation-name: animate;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animate {
  from {color: #919191;}
  to {color: #b7b7b7;}
}


#featured-container {
  width: 100%;
  text-align: center;
}

.featured-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.featured-place {
  min-width: 300px;
  min-height: 300px;
  margin: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  transition: font-size 0.5s ease;
  text-shadow: 0px 2px 8px rgba(0,0,0,.6);
  text-align: center;
  padding-top: 110px;
  cursor: pointer;
}
.featured-place:hover {
  font-size: 30px;
}

#peru{
  background-image: url('images/peru.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 20%;
}

#tokyo {
  background-image: url('images/tokyo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 20%;
}

#bolivia {
  background-image: url('images/bolivia.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 20%;
}

#namibia {
  background-image: url('images/namibia.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 20%;
}

#iceland {
  background-image: url('images/iceland.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 20%;
}

#singapore {
  background-image: url('images/singapore.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 20%;
}
